.tarotCard {
    background-color: #5f543b;
    width: 275px;
    height: 475px;
    border: solid black 4px;

    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.tarotCard .cardNum{
    text-align: center;
}
.tarotCard .cardDesc{
    height: calc(475px - (40px + 6rem));
    padding-inline: 20px;
}
.tarotCard .cardName{
    margin: 0;
    padding: 12.5px;
    text-align: center;
    background-color: #ffffff30;
    border-top: solid black 2px;
}
