body {
    background-color: black;

    color: white;
}

.tarotCard {
    background-color: #5f543b;
    width: calc(275px / 1.2);
    height: calc(475px / 1.2);
    border: solid black 4px;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
/*    box-shadow: 10px 10px 0px #000000;*/
}
.tarotCard .cardNum{
    text-align: center;
}
.tarotCard .cardDesc{
    height: calc(475px / 1.2 - (40px + 6rem));
    padding-inline: 20px;
}
.tarotCard .cardName{
    margin: 0;
    padding: 12.5px;
    text-align: center;
    background-color: #ffffff30;
    border-top: solid black 2px;
    white-space:nowrap;
}

h1 {
    --main: white;
    --bit: #5b4b9f;
    background-image: linear-gradient(to right, var(--main) 35%, var(--bit) 40%,var(--bit) 60%, var(--main) 65%);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: white;
    background-size: 280% 100%;
    animation: mystic 10s linear infinite;
}
@keyframes mystic {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

#playMat {
    width: calc(100% - 22px);
    height: 100%;
    min-height: calc(100vh - 175px);
    margin-inline: 10px;
    border: solid black 1px;
    background-image: radial-gradient(circle at center, #5b4b9f 0, black 100%);
}